@import "tailwindcss";

/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Terapkan font Rajdhani ke semua elemen */
html, body {
  font-family: var(--font-rajdhani), sans-serif;
  color: #616a82;
  background-color: #ffffff;
  line-height: 1.6;
}

/* Heading tetap Rajdhani tapi bold */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-rajdhani), sans-serif;
  font-weight: 700;
  color: #616a82;
}

/* Semua teks lain */
p, span, a, li, div, button, input, textarea {
  font-family: var(--font-rajdhani), sans-serif;
  color: #616a82;
}


/* Theme variables */
:root {
  --background: #ffffff;
  --foreground: #616a82;
}


/* Apply variables */
body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes slide {
  0% { transform: translateY(0); }
  33% { transform: translateY(-20px); }
  66% { transform: translateY(-40px); }
  100% { transform: translateY(0); }
}

.animate-slide {
  animation: slide 6s infinite;
}

